<div>
  <span><button (click)="onClick()">return</button></span>
  <button (click)="onTest()">test http</button>
  <table>
    <thead>
      <th>name</th>
      <th>password</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of service1.list">
        <td>{{item.name}}</td>
        <td>{{item.pwd | pipe1}}</td>
        <td><p *ngIf="valid, then true_condition else false_condition">condition</p></td>
        <ng-template #true_condition>true</ng-template>
        <ng-template #false_condition>false</ng-template>
        <button (click)="onDelete(item)">delete</button>
      </tr>
    </tbody>
  </table>
</div>
