form {
    text-align: center;
    padding: 10px 10px 10px 10px;
    border: 5px solid green;
    width: 500px;
    position: relative;
    left: 380px;
}
form label, input {
    margin: 5px 5px 5px 5px;
}
button {
    background-color: lightgreen;
}
button:hover {
    background-color: lightpink;
}