form {
    border: 10px solid green;
    padding: 10px 10px 10px 10px;
    text-align: center;
    position: relative;
    left: 390px;
    width: 500px;
}
form input,label {
    margin: 10px 10px 10px 10px;
}
form button {
    background-color: lightgreen;
}
button:hover {
    background-color: lightpink;
}